<div *ngIf="usuarioLogado" class="app container mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <div class="row">
        <div class="col-12">
            <h2>{{ 'Hello' | translate }}, {{ usuarioLogado.display_name }}. 😁</h2>
        </div>
    </div>

    <ng-container *ngIf="userShows?.length > 0 || userEpisodes?.length > 0">
        <div class="row mt-4">
            <div class="col-md-6">
                <app-content-list [title]="'PodcastsShowsText' | translate" type="show" [list]="userShows">
                </app-content-list>
            </div>

            <div class="col-md-6">
                <app-content-list [title]="'PodcastsEpisodesText' | translate" type="podcast" [list]="userEpisodes">
                </app-content-list>
            </div>
        </div>
    </ng-container>
</div>