<nav
    class="header {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : '' }}"
>
    <div class="navegacao">
        <a class="navbar-brand" href="#" (click)="closeMenu()">
            <img
                class=""
                style="max-width: 38px"
                src="assets/logo.png"
                alt="Litefy Logo"
            />
            Litefy
        </a>
        <div
            class="menu-button"
            *ngIf="auth.isAuthenticated()"
            (click)="openMenu = !openMenu"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-menu-2"
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#ffffff"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
        </div>
    </div>

    <ul
        *ngIf="auth.isAuthenticated()"
        class="menu navbar-nav"
        [ngClass]="{ open: openMenu }"
    >
        <li class="nav-item" [ngClass]="{ activeTab: userActiveTabHome() }">
            <a
                class="nav-link"
                [routerLink]="['/']"
                (click)="openMenu = false; userOpenMenu = false"
            >
                <svg width="35" height="35" fill="none" viewBox="0 0 24 24">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M6.75024 19.2502H17.2502C18.3548 19.2502 19.2502 18.3548 19.2502 17.2502V9.75025L12.0002 4.75024L4.75024 9.75025V17.2502C4.75024 18.3548 5.64568 19.2502 6.75024 19.2502Z"
                    ></path>
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M9.74963 15.7493C9.74963 14.6447 10.6451 13.7493 11.7496 13.7493H12.2496C13.3542 13.7493 14.2496 14.6447 14.2496 15.7493V19.2493H9.74963V15.7493Z"
                    ></path>
                </svg>

                <p>
                    {{ "MenuHome" | translate }}
                </p>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{ activeTab: userActiveTabSearch() }">
            <a
                class="nav-link"
                [routerLink]="['/search']"
                (click)="openMenu = false; userOpenMenu = false"
            >
                <svg width="35" height="35" fill="none" viewBox="0 0 24 24">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"
                    ></path>
                </svg>

                <p>
                    {{ "MenuSearchText" | translate }}
                </p>
            </a>
        </li>

        <li class="nav-item" [ngClass]="{ activeTab: userActiveTabLibrary() }">
            <a
                class="nav-link"
                [routerLink]="['/library']"
                (click)="openMenu = false; userOpenMenu = false"
            >
                <svg width="35" height="35" fill="none" viewBox="0 0 24 24">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z"
                    ></path>
                </svg>
                <p>
                    {{ "MenuLibraryText" | translate }}
                </p>
            </a>
        </li>

        <li class="nav-item" [ngClass]="{ activeTab: userActiveTabPodcast() }">
            <a
                class="nav-link"
                [routerLink]="['/podcasts']"
                (click)="openMenu = false; userOpenMenu = false"
            >
                <svg width="35" height="35" fill="none" viewBox="0 0 24 24">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M8.75 8C8.75 6.20507 10.2051 4.75 12 4.75C13.7949 4.75 15.25 6.20507 15.25 8V11C15.25 12.7949 13.7949 14.25 12 14.25C10.2051 14.25 8.75 12.7949 8.75 11V8Z"
                    ></path>
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M5.75 12.75C5.75 12.75 6 17.25 12 17.25C18 17.25 18.25 12.75 18.25 12.75"
                    ></path>
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12 17.75V19.25"
                    ></path>
                </svg>

                <p>
                    {{ "MenuPodcastText" | translate }}
                </p>
            </a>
        </li>

        <li class="nav-item" [ngClass]="{ activeTab: userActiveTabKaraoke() }">
            <a
                class="nav-link"
                [routerLink]="['/karaoke']"
                (click)="openMenu = false; userOpenMenu = false"
            >
                <svg width="35" height="35" fill="none" viewBox="0 0 24 24">
                    <path
                        stroke="currentColor"
                        stroke-width="1.5"
                        d="M19.25 10C19.25 12.7289 17.85 15.25 16.5 15.25C15.15 15.25 13.75 12.7289 13.75 10C13.75 7.27106 15.15 4.75 16.5 4.75C17.85 4.75 19.25 7.27106 19.25 10Z"
                    ></path>
                    <path
                        stroke="currentColor"
                        stroke-width="1.5"
                        d="M16.5 15.25C16.5 15.25 8 13.5 7 13.25C6 13 4.75 11.6893 4.75 10C4.75 8.31066 6 7 7 6.75C8 6.5 16.5 4.75 16.5 4.75"
                    ></path>
                    <path
                        stroke="currentColor"
                        stroke-width="1.5"
                        d="M6.75 13.5V17.25C6.75 18.3546 7.64543 19.25 8.75 19.25H9.25C10.3546 19.25 11.25 18.3546 11.25 17.25V14.5"
                    ></path>
                </svg>
                <p>
                    {{ "MenuKaraokeText" | translate }}
                </p>
            </a>
        </li>
    </ul>

    <div class="d-flex justify-content-between align-items-center">
        <div class="user-area" *ngIf="auth.isAuthenticated()">
            <div class="header" (click)="userOpenMenu = !userOpenMenu">
                <div
                    *ngIf="canLoadImage()"
                    class="user-image"
                    [ngStyle]="{
                        'background-image': 'url(' + user?.images[0]?.url + ')'
                    }"
                ></div>

                <!-- <div class="text text-white hide-mobile">
                    <strong class="mb-0">{{ user?.display_name }}</strong>
                    <small>{{ user?.id }} ({{ user?.product }})</small>
                </div> -->

                <ul class="user-menu" [ngClass]="{ open: userOpenMenu }">
                    <li>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-id"
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="#ffffff"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="3" y="4" width="18" height="16" rx="3" />
                            <circle cx="9" cy="10" r="2" />
                            <line x1="15" y1="8" x2="17" y2="8" />
                            <line x1="15" y1="12" x2="17" y2="12" />
                            <line x1="7" y1="16" x2="17" y2="16" />
                        </svg>

                        <a (click)="closeMenu()" [routerLink]="['/profile']">{{
                            "ProfileText" | translate
                        }}</a>
                    </li>
                    <li>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-adjustments"
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="#ffffff"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="6" cy="10" r="2" />
                            <line x1="6" y1="4" x2="6" y2="8" />
                            <line x1="6" y1="12" x2="6" y2="20" />
                            <circle cx="12" cy="16" r="2" />
                            <line x1="12" y1="4" x2="12" y2="14" />
                            <line x1="12" y1="18" x2="12" y2="20" />
                            <circle cx="18" cy="7" r="2" />
                            <line x1="18" y1="4" x2="18" y2="5" />
                            <line x1="18" y1="9" x2="18" y2="20" />
                        </svg>

                        <a (click)="closeMenu()" [routerLink]="['/settings']">{{
                            "SettingsText" | translate
                        }}</a>
                    </li>
                    <li>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-logout"
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="#ffffff"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                            />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>

                        <a (click)="sair()">{{ "ExitText" | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <app-language-switcher (click)="closeMenu()"></app-language-switcher>
    </div>
</nav>
