.album-header {
    position: relative;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding: .5em 1em;
}

.album-header h1 {
    position: relative;
    z-index: 2;
}

.album-header h3 {
    font-size: 1em;
    margin-top: 1em !important;
}

.album-header h1,
.album-header h2,
.album-header h3 {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
}

.album-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: .9;
    border-radius: 10px;
}