<div class="app container mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
  <h2 class="mb-3">⚙ {{ 'SettingsPageTitle' | translate }}</h2>

  <div class="list-group">
    <button type="button"
      *ngFor="let item of settings; let i = index;"
      [ngClass]="{'custom-active': item.active}"
      (click)="toggleSetting(item, i)"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      aria-current="true">

      <span>{{ item.description | translate }}</span>
      <svg [hidden]="!item.active" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="32" height="32"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l5 5l10 -10" />
      </svg>
    </button>
  </div>
</div>