.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

h2 {
    font-size: 2em;
}

.title a {
    color: #495057 !important;
}

.content-listing {
    max-height: 500px;
    overflow: auto;
}

.content-listing .list-group-item.active {
    background-color: var(--spt-green) !important;
    border-color: var(--spt-green) !important;
}

.content-listing .list-group-item.active .title span,
.content-listing .list-group-item.active .title a {
    color: white !important;
}


@media screen and (max-width: 480px) {
    .content-listing.mobile-mode {
        flex-direction: row;
    }

    .content-listing .list-group-item {
        min-width: 240px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around !important;
        align-items: center !important;
        text-align: center;
    }

    .title span {
        height: 45px;
        overflow: hidden;
        display: block;
        margin-bottom: .5em;
    }
}
