.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
}

.title a {
    color: #495057 !important;
}

.content-listing {
    display: grid;
    grid-gap: 16px;
    margin: 20px 0;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-columns: minmax(225px, 1fr);
}

.content-listing.homeArtist {
    display: grid;
    grid-gap: 18px;
    margin: 20px 0;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-columns: minmax(60px, 1fr);
}

.content-listing::-webkit-scrollbar {
    height: 4px;
}

.content-listing::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

.content-listing-item {
    display: flex;
    flex-direction: column;
}

.content-listing-item .img.img {
    width: 225px;
    height: 225px;
    position: relative;
}

.content-listing-item .img.homeArtist {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    position: relative;
}

.content-listing-item .img.homeArtist img {
    border-radius: 50%;
}

.content-listing-item .img.img .optionsBox {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    transition: opacity 200ms cubic-bezier(0.2, 0, 0.6, 1);
}

.content-listing-item .img.img .optionsBox:hover {
    opacity: 1;
}

.content-listing-item .img.img .options {
    bottom: 7px;
    right: 7px;
    width: fit-content;
    position: absolute;
}
.content-listing-item .img.img .timeStamp {
    position: absolute;
    bottom: 7px;
    left: 7px;
    background: rgba(0, 0, 0, 0.6);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 13px;
}
.content-listing-item .img.img .options .optionsPlayButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    transition: transform 200ms cubic-bezier(0.2, 0, 0.6, 1),
        background 200ms cubic-bezier(0.2, 0, 0.6, 1);
    cursor: pointer;
}

.content-listing-item .img.img .options .optionsPlayButton:hover {
    background: rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.content-listing-item .detailsBox {
    width: 100%;
    padding: 20px 0;
    line-height: 1.2;
}
.content-listing-item .detailsBox .detailsBoxContent span a:hover {
    text-decoration: underline !important;
}

.content-listing-item .detailsBox .detailsBoxContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
}

.content-listing-item .detailsBox .detailsBoxContent span {
    white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-listing-item .detailsBox .title {
    font-family: "Roboto", Arial, sans-serif;
    width: 100%;
    font-size: 18px;
    color: white;
    margin: unset;
    line-height: 1.2;
    text-transform: capitalize;
}
.content-listing-item .detailsBox .album,
.content-listing-item .detailsBox .artist,
.content-listing-item .detailsBox .subText {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 14px;
}

.content-listing-item .detailsBox .artistName {
    white-space: nowrap;
    display:inline-block;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
    font-size: 15px;
    text-align: center;
}


@media screen and (max-width: 800px){
    .content-listing{
        overflow-x: auto;
        grid-auto-flow: column;
    }

    .homeArtist{
        overflow-x: auto;
        grid-auto-flow: column;
    }


}