<div class="language" *ngIf="currentLang">
    <button
        (click)="hidden = !hidden"
        type="button"
        class="language__button"
        aria-expanded="false"
    >
        <img
            src="https://www.countryflagicons.com/FLAT/32/{{
                currentLang.flag
            }}.png"
        />
        <strong>{{ currentLang.name }}</strong>
    </button>
    <div
        class="dropdown-menu bg-dark {{
            ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''
        }}"
        [hidden]="hidden"
    >
        <p
            *ngFor="let language of languages"
            class="dropdown-item"
            (click)="switchLang(language)"
            [ngClass]="{ active: language.code === currentLang.code }"
        >
            <img
                src="https://www.countryflagicons.com/FLAT/16/{{
                    language.flag
                }}.png"
            />
            <span [ngClass]="{ 'rtl-custom': language.direction === 'rtl' }">
                <strong>{{ language.name }}</strong>
            </span>
        </p>
    </div>
</div>
<div
    *ngIf="!hidden"
    (click)="hidden = true"
    class="language-selector-shadow"
></div>
