<!-- <select class="language custom-select custom-select-sm" #selectedLang (change)="switchLang(selectedLang.value)">
  <option *ngFor="let language of languages" [value]="language.code" [selected]="language.code === currentLang">
    <img src="https://www.countryflagicons.com/FLAT/16/{{ language.flag }}.png">
  </option>
</select> -->
<div class="language">
  <button (click)="hidden = !hidden" type="button" class="btn btn-light dropdown-toggle" aria-expanded="false">
    <img src="https://www.countryflagicons.com/FLAT/16/{{ currentLang.flag }}.png">
  </button>
  <div class="dropdown-menu {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}" [hidden]="hidden">
    <p *ngFor="let language of languages" class="dropdown-item"
      (click)="switchLang(language)"
      [ngClass]="{'active': language.code === currentLang.code}">
      <img src="https://www.countryflagicons.com/FLAT/16/{{ language.flag }}.png">
      <span>{{ language.code }}</span>
    </p>
  </div>
</div>
<div *ngIf="!hidden" (click)="hidden = true" class="language-selector-shadow"></div>