<div class="app container mt-4 {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <div class="row">
        <div class="col-12">
            <app-shearch-box [exportResults]="true" (searchResults)="getResults($event)"></app-shearch-box>
        </div>
    </div>

    <ng-container *ngIf="resultadosTracks.length > 0 || resultadosPlaylists.length > 0 || resultadosAlbums.length > 0">
        <div class="row mt-4">
            <div class="col-md-6">
                <app-content-list [title]="'SearchArtists' | translate" type="artist" [list]="resultadosArtistas">
                </app-content-list>
            </div>

            <div class="col-md-6">
                <app-content-list [title]="'LibraryTracksText' | translate" type="track" [list]="resultadosTracks">
                </app-content-list>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <app-content-list [title]="'LibraryPlaylistsText' | translate" type="playlist" [list]="resultadosPlaylists">
                </app-content-list>
            </div>

            <div class="col-md-6">
                <app-content-list [title]="'LibraryAlbumsText' | translate" type="album" [list]="resultadosAlbums">
                </app-content-list>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <app-content-list [title]="'Shows' | translate" type="podcastSearch" [list]="resultadosShows">
                </app-content-list>
            </div>

            <div class="col-md-6">
                <app-content-list [title]="'Episodes' | translate" type="podcastPage" [list]="resultadosEpisodes">
                </app-content-list>
            </div>
        </div>

    </ng-container>

</div>