<div class="player">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center text-white">
      <img *ngIf="playerStatus" [src]="playerStatus.item.album.images[2].url" class="img-responsive mr-2 hide-mobile" />

      <div class="d-flex flex-column">
        <strong class="mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="12" height="12"
            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="6" cy="17" r="3" />
            <circle cx="16" cy="17" r="3" />
            <polyline points="9 17 9 4 19 4 19 17" />
            <line x1="9" y1="8" x2="19" y2="8" />
          </svg>

          {{ playerStatus ? playerStatus.item.name : '--' }}
        </strong>
        <small>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-disc" width="12" height="12"
            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <circle cx="12" cy="12" r="1" />
            <path d="M7 12a5 5 0 0 1 5 -5" />
            <path d="M12 17a5 5 0 0 0 5 -5" />
          </svg>

          {{ playerStatus ? playerStatus.item.album.name : '--' }}
        </small>

        <small>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="12" height="12"
            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="7" r="4" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>

          {{ playerStatus ? playerStatus.item.album.artists[0]?.name : '--' }}
        </small>
      </div>
    </div>

    <div class="tracking">
      <input
        #playerSeek
        type="range"
        [value]="playerStatus.progress_ms / 1000"
        min="0"
        [max]="playerStatus.item.duration_ms / 1000"
        class="form-control-range"
        (change)="seekToPosition(playerSeek.value * 1000)"
      >

      <div class="d-flex justify-content-between align-items-center text-white mt-2">
        <span>00:00</span>
        <span>{{ convertMsToTimeString(playerStatus.progress_ms) }}</span>
        <span>{{ convertMsToTimeString(playerStatus.item.duration_ms) }}</span>
      </div>
    </div>

    <div class="botoes-contole">
      <div class="btn-group" role="group">
        <button [disabled]="!playerStatus" type="button" (click)="previous()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-skip-back" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 5v14l-12 -7z" />
            <line x1="4" y1="5" x2="4" y2="19" />
          </svg>
        </button>
  
        <button [disabled]="!playerStatus" *ngIf="!playerStatus.is_playing" type="button" (click)="play()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 4v16l13 -8z" />
          </svg>
        </button>
        <button [disabled]="!playerStatus" *ngIf="playerStatus.is_playing" type="button" (click)="pause()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-pause" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="6" y="5" width="4" height="14" rx="1" />
            <rect x="14" y="5" width="4" height="14" rx="1" />
          </svg>
        </button>
  
        <button [disabled]="!playerStatus" type="button" (click)="next()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-skip-forward" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 5v14l12 -7z" />
            <line x1="20" y1="5" x2="20" y2="19" />
          </svg>
        </button>
      </div>

      <div class="tempos d-flex justify-content-between align-items-center text-white mt-2">
        <span>00:00</span>
        <span>{{ convertMsToTimeString(playerStatus.progress_ms) }}</span>
        <span>{{ convertMsToTimeString(playerStatus.item.duration_ms) }}</span>
      </div>
    </div>

  </div>
</div>

<button style="display: none" class="click-inicial" (click)="getCurrentState()"></button>