.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: .5rem;
    background: var(--spt-black);
    z-index: 9999;
}

.button-custom {
    border: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin: 0 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--spt-green);

    transition: .2s all;
}

.button-custom[disabled] {
    background: var(--grey);
}

.button-custom:hover {
    opacity: .7;
}

.tracking {
    width: 70%;
}

.tempos {
    display: none !important;
}

.volume-btn {
    position: relative;
}

.volume-box {
    display: none;
    position: absolute;
    bottom: 50px;
    background: white;
    padding: 20px;
    max-width: 200px;
    width: 100%;
    opacity: 1 !important;
}

.volume-box.open {
    display: block;
}

@media screen and (max-width: 1796px) {
    .tracking {
        width: 60%;
    }
}

@media screen and (max-width: 922px) {
    .tracking {
        width: 40%;
    }
}

@media screen and (max-width: 733px) {
    .tracking {
        width: 30%;
    }
}

@media screen and (max-width: 522px) {
    .tracking {
        display: none;
    }

    .tempos {
        display: flex !important;
    }
}