.volume-box {
    display: none;
    position: absolute;
    bottom: 50px;
    background: white;
    padding: 20px;
    max-width: 200px;
    width: 100%;
    opacity: 1 !important;
}

.volume-box.open {
    display: block;
    right: -8px;
    bottom: 3rem;
    box-shadow: -2px -4px 12px 4px black;
}