<ng-container *ngIf="lyrics && playerStatus">
  <div class="app container text-center mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <h2 *ngIf="premium" class="mb-3">{{ playerStatus.item.name }} - {{ playerStatus.item.album.artists[0]?.name }}</h2>
    <h2 *ngIf="!premium" class="mb-3">{{ playerStatus.trackName }} - {{ playerStatus.artistName }}</h2>

    <p *ngIf="notFound === false" [innerHTML]="lyrics.mus[0].text">
    </p>

    <ng-container *ngIf="notFound === true">
      <p>
        {{ 'KaraokeNotFoundText' | translate }}
      </p>
      <a target="blank"
        [href]="'https://www.google.com/search?q=' + premium ? playerStatus.item.name : playerStatus.trackName + ' ' +
        premium ? playerStatus.item.album.artists[0]?.name : playerStatus.artistName + ' lyrics'"
        class="btn btn-success btn-lg">
        {{ 'KaraokeSearchText' | translate }}
      </a>
    </ng-container>
  </div>
</ng-container>