  <div class="app container mt-4 {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <!--<h2 class="mb-3">👤 {{ 'ProfileText' | translate }}</h2>-->

    <div class="row">
      <div *ngIf="canLoadImage()" class="col-md-4">
        <div class="profile-pic">
          <div *ngIf="canLoadImage()" class="img-circle" [ngStyle]="{'background-image': 'url(' + (activeUser?.images.length > 0 ? activeUser.images[0].url : 'assets/standart-artist-icon.png') + ')'}">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="mb-3">👤 {{ 'ProfileText' | translate }}</div>
        <div class = "username"> {{ activeUser.display_name }} </div>
        <div class="list-group">
          <span> {{ activeUser.id }} </span>
          <span> {{ activeUser.followers.total | numberLocale:this.translateService.currentLang }}
              {{ activeUser.followers.total > 1 || activeUser.followers.total == 0
                  ? ('FollowersTextPlural'| translate | lowercase)
                  : ('FollowersText' | translate | lowercase)}} </span>
          <span> {{ activeUser.email }} </span>
          <span> {{ activeUser.country }} </span>
          <span> {{ activeUser.product }} </span> <!--Should this word be translated?-->
        </div>
      </div>
    </div>
  </div>
