<div class="app container mt-4 {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}" *ngIf="show">
    <div class="row">
        <div class="col-md-12">
            <div class="artist-header" [ngStyle]="{'background-image': canLoadImage() ? 'url(' + show.images[0].url + ')' : ''}">
                <div class="img-circle" [ngStyle]="{'background-image': 'url(' + show.images[0].url + ')'}">
                </div>
                <h1>
                    {{ show.name }}
                </h1>
                <p style="color:white;text-align:center;z-index:1">{{show.description}}</p>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <app-content-list [title]="'PodcastsEpisodesText' | translate" type="podcastPage" [list]="showEpisodes">
            </app-content-list>
        </div>
    </div>
</div>