<div *ngIf="requisicoesCompletas" class="app container mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
  <div class="row mt-4">
    <div class="col-md-6">
      <app-content-list [titulo]="'HomeArtistsText' | translate" tipo="artist" [lista]="topArtists"></app-content-list>
    </div>

    <div class="col-md-6">
      <app-content-list [titulo]="'HomeMusicsText' | translate" tipo="track" [lista]="topTracks"></app-content-list>
    </div>
  </div>

  <div class="row mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <div class="col-md-12">
      <app-content-list [titulo]="'HomeAlbumsText' | translate" tipo="album" [lista]="newAlbuns"></app-content-list>
    </div>
  </div>

  <div class="row mt-4  {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
    <div class="col-md-12">
      <app-content-list [titulo]="'HomePlaylistsText' | translate" tipo="playlist" [lista]="featuredPlaylists"></app-content-list>
    </div>
  </div>
</div>