<div class="player {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
  <div *ngIf="playerService.showVideo" class="player-wrapper d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center text-white">
      <div class="video-wrapper" [ngClass]="{'hidden-video': !playerStatus}" class="me-2">
        <div id="player-video"></div>
      </div>

      <div class="d-flex flex-column">
        <strong class="mb-1">
          <span class="string-limited">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="12" height="12"
              viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="6" cy="17" r="3" />
              <circle cx="16" cy="17" r="3" />
              <polyline points="9 17 9 4 19 4 19 17" />
              <line x1="9" y1="8" x2="19" y2="8" />
            </svg>

            {{ playerStatus ? playerStatus?.trackName : '--' }}
          </span>
        </strong>

        <!-- <a [routerLink]="['artist/' + playerStatus?.item.album.artists[0]?.id]"> -->
          <small>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="12" height="12"
              viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>

            {{ playerStatus ? playerStatus?.artistName : '--' }}
          </small>
        <!-- </a> -->
      </div>
    </div>

    <div class="control-buttons">
      <div class="btn-group volume-btn" role="group" dir="ltr">
        <button [disabled]="!playerStatus" type="button" (click)="previous()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-skip-back" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 5v14l-12 -7z" />
            <line x1="4" y1="5" x2="4" y2="19" />
          </svg>
        </button>

        <button [disabled]="!playerStatus" *ngIf="!playerStatus?.isPlaying" type="button" (click)="play()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 4v16l13 -8z" />
          </svg>
        </button>

        <button [disabled]="!playerStatus" *ngIf="playerStatus?.isPlaying" type="button" (click)="pause()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-pause" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="6" y="5" width="4" height="14" rx="1" />
            <rect x="14" y="5" width="4" height="14" rx="1" />
          </svg>
        </button>

        <button [disabled]="!playerStatus" type="button" (click)="next()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-skip-forward" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 5v14l12 -7z" />
            <line x1="20" y1="5" x2="20" y2="19" />
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>