<div class="player {{ ('direction' | translate) === 'rtl' ? 'rtl-custom' : ''}}">
  <div *ngIf="playerService.showVideo" class="player-wrapper d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center text-white">
      <div class="video-wrapper" [ngClass]="{'hidden-video': !playerStatus}" class="me-2">
        <div id="player-video"></div>
      </div>

      <div class="d-flex flex-column">
        <strong class="mb-1">
          <span class="string-limited">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="12" height="12"
              viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="6" cy="17" r="3" />
              <circle cx="16" cy="17" r="3" />
              <polyline points="9 17 9 4 19 4 19 17" />
              <line x1="9" y1="8" x2="19" y2="8" />
            </svg>

            {{ playerStatus ? playerStatus?.trackName : '--' }}
          </span>
        </strong>

        <!-- <a [routerLink]="['artist/' + playerStatus?.item.album.artists[0]?.id]"> -->
          <small>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="12" height="12"
              viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>

            {{ playerStatus ? playerStatus?.artistName : '--' }}
          </small>
        <!-- </a> -->
      </div>
    </div>

    <div class="control-buttons">
      <div class="btn-group volume-btn" role="group" dir="ltr">
        <button title="previous" [disabled]="!playerStatus" type="button" (click)="previous()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="#fff" d="M31.1 64.03c-17.67 0-31.1 14.33-31.1 32v319.9c0 17.67 14.33 32 32 32C49.67 447.1 64 433.6 64 415.1V96.03C64 78.36 49.67 64.03 31.1 64.03zM267.5 71.41l-192 159.1C67.82 237.8 64 246.9 64 256c0 9.094 3.82 18.18 11.44 24.62l192 159.1c20.63 17.12 52.51 2.75 52.51-24.62v-319.9C319.1 68.66 288.1 54.28 267.5 71.41z"/>
          </svg>
        </button>

        <button title="play" [disabled]="!playerStatus" *ngIf="!playerStatus?.isPlaying" type="button" (click)="play()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path fill="#fff" d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z"/>
          </svg>
        </button>

        <button title="pause" [disabled]="!playerStatus" *ngIf="playerStatus?.isPlaying" type="button" (click)="pause()"
          class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="#fff" d="M272 63.1l-32 0c-26.51 0-48 21.49-48 47.1v288c0 26.51 21.49 48 48 48L272 448c26.51 0 48-21.49 48-48v-288C320 85.49 298.5 63.1 272 63.1zM80 63.1l-32 0c-26.51 0-48 21.49-48 48v288C0 426.5 21.49 448 48 448l32 0c26.51 0 48-21.49 48-48v-288C128 85.49 106.5 63.1 80 63.1z"/>
          </svg>
        </button>

        <button title="next" [disabled]="!playerStatus" type="button" (click)="next()" class="button-custom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="#fff" d="M287.1 447.1c17.67 0 31.1-14.33 31.1-32V96.03c0-17.67-14.33-32-32-32c-17.67 0-31.1 14.33-31.1 31.1v319.9C255.1 433.6 270.3 447.1 287.1 447.1zM52.51 440.6l192-159.1c7.625-6.436 11.43-15.53 11.43-24.62c0-9.094-3.809-18.18-11.43-24.62l-192-159.1C31.88 54.28 0 68.66 0 96.03v319.9C0 443.3 31.88 457.7 52.51 440.6z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>