.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: .2rem .5rem;
    background: var(--spt-black);
    z-index: 9999;
}

.hidden-video {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.control-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

svg{
    height: fit-content;
}
svg, path{
    transform: scale(0.7);
}

path{
    transform: translate(5px, -5px)
}


@media screen and (max-width: 507px) {
    .player-wrapper {
        flex-direction: column-reverse;
    }

    
}