/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

:root {
    --spt-black: #191414;
    --spt-grey: #1d1a1a;
    --spt-light-grey: #312d2d;
    --spt-green: #1DB954;
}

body {
    background: var(--spt-grey);
}

.app {
    padding-bottom: 100px;
}

@media screen and (max-width: 360px) {
    body {
        font-size: 75%;
    }

    .hide-mobile {
        display: none !important;
    }
}