/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --spt-black: #191414;
    --spt-grey: #1d1a1a;
    --spt-light-grey: #312d2d;
    --spt-green: #00d95f;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8a8787;
    border-radius: 5px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--spt-grey);
    width: 100%;
    margin-top: 70px;
    padding-bottom: 130px;
}

.app {
    /*
        70px is the header width which we must take into
        consideration when rendering the main content.
    */
    margin-top: 70px !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    transition: 0.2s all;
}

a:hover {
    opacity: 0.7;
}

.img-circle {
    height: 200px;
    max-width: 200px;
    overflow: hidden;
    margin: 0;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.button-custom {
    border: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin: 0 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--spt-green);

    transition: 0.2s all;
    font-size: 130%;
}

.button-custom[disabled] {
    background: var(--spt-grey);
}

.button-custom:hover {
    opacity: 0.7;
}

@media screen and (max-width: 360px) {
    body {
        font-size: 75%;
    }

    .hide-mobile {
        display: none !important;
    }
}

/* support of RTL and LTR */
.rtl-custom {
    direction: rtl;
    text-align: right;
}
.ltr-custom {
    direction: ltr;
    text-align: left;
}

.ms-auto {
    margin-inline-start: auto !important;
}
.ms-0 {
    margin-inline-start: 0 !important;
}
.ms-1 {
    margin-inline-start: 0.25rem !important;
}
.ms-2 {
    margin-inline-start: 0.5rem !important;
}
.ms-3 {
    margin-inline-start: 1rem !important;
}
.ms-4 {
    margin-inline-start: 1.5rem !important;
}
.ms-5 {
    margin-inline-start: 3rem !important;
}

.me-auto {
    margin-inline-end: auto !important;
}
.me-0 {
    margin-inline-end: 0 !important;
}
.me-1 {
    margin-inline-end: 0.25rem !important;
}
.me-2 {
    margin-inline-end: 0.5rem !important;
}
.me-3 {
    margin-inline-end: 1rem !important;
}
.me-4 {
    margin-inline-end: 1.5rem !important;
}
.me-5 {
    margin-inline-end: 3rem !important;
}

.button-create-playlist {
    border: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--spt-light-grey);

    transition: 0.2s all;
    font-size: 130%;
}

#selectPlaylist {
    color: white;
    background: black;
    border-radius: 10px;
    border-color: black;
}

#innerbox
{
    width:400px;
    max-width:400px;
    display: inline-block;
    padding: 50px 10px;
    color: white;
    background: var(--spt-grey);
    border-radius: 10px;
    margin:1%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=submit] {
    background-color: var(--spt-green);
    border: var(--spt-green);
    color: white;
    width: 90%;
    padding: 2px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

input[type=cancel] {
    background-color: white;
    border: white;
    color: black;
    width: 90%;
    padding: 2px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

input[type=text] {
    width: 89%;
    padding: 2px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#innerbox input
{
    margin: 5px 11px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
