/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

:root {
    --spt-black: #191414;
    --spt-green: #1DB954;
}

@media screen and (max-width: 360px) {
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 260px) {
    .hide-mobile {
        display: none;
    }
}