.Home__container {
    height: calc(100% - 70px);
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    overflow-y: auto;
}

.Home__content {
    display: flex;
    height: 90%;
    width: 620px;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.Home__Bob {
    width: 40%;
    min-width: 480px;
}

.Home__top {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    gap: 30px;
}

.Home__AppName {
    all: unset;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

.Home__ShortAppDescription {
    all: unset;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
}

.Home__AppDescription {
    all: unset;
    font-size: 17px;
}

.Home__LoginLogo {
    height: 40px;
}

.Home__bottom {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1220px) {
    .Home__Bob {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .Home__container {
        padding: 0 30px;
    }
}

@media screen and (max-height: 600px) {
    .Home__content {
        justify-content: start;
    }
    .Home__container {
        height: auto;
        padding-bottom: 50px;
    }
}

.btn-login {
    border: 0;
    background: var(--spt-green);
    color: #000000;
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    transition: 0.2s all;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--spt-green);
}

.btn-login:hover {
    /* opacity: 0.7; */
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#soundbars {
    /* margin: 0 auto;
    max-width: 240px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 95px;
    overflow: hidden;
}

#soundbars span {
    width: 1.25em;
    height: 1.875em;
    /* margin-inline-start: 1px; */
    background-color: #00c36f;
    display: inline-block;
    transform-style: preserve-3d;
    animation: music 1.5s infinite ease-in-out;
}

#soundbars span:nth-of-type(2) {
    animation-delay: 0.2s;
}

#soundbars span:nth-of-type(3) {
    animation-delay: 0.4s;
}

#soundbars span:nth-of-type(4) {
    animation-delay: 0.6s;
}

#soundbars span:nth-of-type(5) {
    animation-delay: 0.8s;
}

#soundbars span:nth-of-type(6) {
    animation-delay: 1s;
}

#soundbars span:nth-of-type(7) {
    animation-delay: 1.2s;
}

#soundbars span:nth-of-type(8) {
    animation-delay: 1.4s;
}

#soundbars span:nth-of-type(9) {
    animation-delay: 1.6s;
}

#soundbars span:last-of-type {
    animation-delay: 1.8s;
}

@keyframes music {
    0% {
        height: 50px;
        background-color: #005848;
    }
    25% {
        height: 75px;
        transform: translateZ(30px);
        background-color: #00c36f;
    }
    50% {
        height: 100px;
        background-color: #005430;
    }
    75% {
        background-color: #005848;
    }
}
