.btn-login {
    border: 0;
    background: var(--spt-green);
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: .5em 1em;
    border-radius: 15px;
    transition: .2s all;
}

.btn-login:hover {
    opacity: .7;
}

#soundbars {
    margin: 0 auto;
    max-width: 240px;
    height: 95px;
    overflow: hidden;
}

#soundbars span {
    width: 1.25em;
    height: 1.875em;
    margin-inline-start: 1px;
    background-color: #00c36f;
    display: inline-block;
    transform-style: preserve-3d;
    animation: music 1.5s infinite ease-in-out;
}

#soundbars span:nth-of-type(2) {
    animation-delay: 0.2s;
}

#soundbars span:nth-of-type(3) {
    animation-delay: .4s;
}

#soundbars span:nth-of-type(4) {
    animation-delay: .6s;
}

#soundbars span:nth-of-type(5) {
    animation-delay: .8s;
}

#soundbars span:nth-of-type(6) {
    animation-delay: 1s;
}

#soundbars span:nth-of-type(7) {
    animation-delay: 1.2s;
}

#soundbars span:nth-of-type(8) {
    animation-delay: 1.4s;
}

#soundbars span:nth-of-type(9) {
    animation-delay: 1.6s;
}

#soundbars span:last-of-type {
    animation-delay: 1.8s;
}

@keyframes music {
    0% {
        height: 50px;
        background-color: #005848;
    }
    25% {
        height: 75px;
        transform: translateZ(30px);
        background-color: #00c36f;
    }
    50% {
        height: 100px;
        background-color: #005430;
    }
    75% {
        background-color: #005848;
    }
}